<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>web.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantServlet</display-name>
    <servlet-name>ApplicantServlet</servlet-name>
    <servlet-class>web.ApplicantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantServlet</servlet-name>
    <url-pattern>/ApplicantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainServlet</display-name>
    <servlet-name>TrainServlet</servlet-name>
    <servlet-class>web.TrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainServlet</servlet-name>
    <url-pattern>/TrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryServlet</display-name>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>web.SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/SalaryServlet</url-pattern>
  </servlet-mapping>
</web-app>